|===
|Error Code|Status|Message

{{#fields}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{status}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}

{{/fields}}
|===