|===
|Parameter|Description|Optional|Default

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}Yes{{/optional}}{{^optional}}No{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{default}}{{/tableCellContent}}

{{/parameters}}
|===