|===
|Parameter|Description|Optional|Default|Permissions

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}Yes{{/optional}}{{^optional}}No{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{#default}}{{default}}{{/default}}{{/tableCellContent}}
|{{#tableCellContent}}{{#permission}}{{permission}}{{/permission}}{{/tableCellContent}}
{{/parameters}}
|===